<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- CSS Files -->
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/profile.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidenav.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <div class="sidenav">
        <div align="center" class="logo" style="font-family: 'Pacifico', cursive; font-size: 36px;">Recruitme-</div>
        <hr>
        <a href="../dashboard"><i class="glyphicon glyphicon-dashboard"></i>  Resume Search </a>
        <a href="../postjob"><i class="glyphicon glyphicon-usd"></i> Post Job</a>
        <a href="../future"><i class="glyphicon glyphicon-send"></i> Future</a>
      </div>
      
     
    </div>
  </nav>

  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">Filter Job Candidate</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <p class="input-group-text"><i class="fas fa-search"></i></p>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <p class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="../static/img/admin.png">
                </p>
                <div class="media-body ml-2 d-none d-lg-block">
                  <p class="mb-0 text-sm  font-weight-bold">Sangram</p>
                </div>
              </div>
            </a>
            
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;background-size: cover; background-position: center top;">
      <!-- Mask -->
      <p class="mask bg-gradient-default opacity-8"></p>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            
            <div class="card-body pt-0 pt-md-4">
              
              <div class="text-center">
                <h3>
                  Choose the Filter
                </h3>
              </div>
              <hr>
              <form>
              	<div class="row">
              		<div class="col-9">
              			<h4>Experience </h4>
              		</div>
              		<div class="col-2">
              			<select name="exp" id="exp" onchange="load()">
              				<option value="0">0</option>
                      <option value="1">1+</option>
              				<option value="2">2+</option>
              				<option value="5">5+</option>
              				<option value="10">10+</option>
              			</select>	
              		</div>
              		
              	</div>
              	<br>
              	<div class="row">
              		<div class="col-8">
              			<h4>Skils </h4>
              		</div>
              		<div class="col-2">
              			<select name="exp" id="skill" onchange="load()">
                      <option value=''>Select Option</option>
              				<option value='Algorithms'>Algorithms</option>
                      <option value='Anaconda'>Anaconda</option>
                      <option value='Android'>Android</option>
                      <option value='Apis'>Apis</option>
                      <option value='Autocad'>Autocad</option>
                      <option value='Aws'>Aws</option>
                      <option value='C'>C</option>
                      <option value='C#'>C#</option>
                      <option value='C++'>C++</option>
                      <option value='Css'>Css</option>
                      <option value='Database'>Database</option>
                      <option value='Django'>Django</option>
                      <option value='Excel'>Excel</option>
                      <option value='Flask'>Flask</option>
                      <option value='Github'>Github</option>
                      <option value='Html'>Html</option>
                      <option value='Html5'>Html5</option>
                      <option value='Illustrator'>Illustrator</option>
                      <option value='Java'>Java</option>
                      <option value='Javascript'>Javascript</option>
                      <option value='Jsp'>Jsp</option>
                      <option value='Jupyter'>Jupyter</option>
                      <option value='Keras'>Keras</option>
                      <option value='Linux'>Linux</option>
                      <option value='Matlab'>Matlab</option>
                      <option value='Mobile'>Mobile</option>
                      <option value='Mysql'>Mysql</option>
                      <option value='Nltk'>Nltk</option>
                      <option value='Nosql'>Nosql</option>
                      <option value='Oracle'>Oracle</option>
                      <option value='Pandas'>Pandas</option>
                      <option value='Photoshop'>Photoshop</option>
                      <option value='Php'>Php</option>
                      <option value='Postgresql'>Postgresql</option>
                      <option value='Product'>Product</option>
                      <option value='Python'>Python</option>
                      <option value='Pytorch'>Pytorch</option>
                      <option value='R'>R</option>
                      <option value='Rest'>Rest</option>
                      <option value='Selenium'>Selenium</option>
                      <option value='Sketch'>Sketch</option>
                      <option value='Sql'>Sql</option>
                      <option value='Swift'>Swift</option>
                      <option value='Tensorflow'>Tensorflow</option>
                      <option value='Testing'>Testing</option>
                      <option value='Ubuntu'>Ubuntu</option>
                      <option value='Ui'>Ui</option>
                      <option value='Wordpress'>Wordpress</option>



              				
              			</select>	
              		</div>
              		
              	</div>
              	<br>
              	<div class="row">
              		<div class="col-3">
              			<h4>POST </h4>
              		</div>
              		<div class="col-4">
              			<select name="postjob" id="postjob" onchange="load()">
                      <option id="0" value="0">All</option>
              				<option id="1" value="1">IOT Engineer</option>
              				<option id="2" value="2">Software Engineer</option>
              				<option id="3" value="3">Frontend Developer</option>
              				<option id="4" value="4">Backend Developer</option>
              				<option id="5" value="5">Web Developer</option>
              				<option id="6" value="6">Mobile App Developer</option>
                      <option id="7" value="7">UI Developer</option>
              				<option id="8" value="8">Database Administrator</option>
              				<option id="9" value="9">Network Engineer</option>
              				<option id="10" value="10">Machine Learning</option>
              				<option id="11" value="11">Cloud Engineer</option>
              			</select>	
              		</div>
              	</div>
              	
              </form>
            </div>
          </div>
        </div>


        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Job</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Explore</a>
                </div>
              </div>
            </div>
            <div class="card-body" style="background-color: #4a4a8c">

          <div id = "cand_data"></div>

				
			
			
			     </div>
            </div>
          </div>
        </div>

      </div>
      <br><br>

    </div>
  </div>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

  <script type="text/javascript">
    
    var url = "http://localhost:5000";


    function get_html(avg_rating, experience, resume, username, emailid) {
        
        return '<div class="card" ><div class="card-body"><div class="row"><div class="col-8"><a href="/profile?username='+username+'"><h3>'+username+'</h3></a></div><div class="col-4 text-right"><h3>'+experience+' Years</h3></div></div><a href="#" class="btn btn-primary">Add user to list</a></div></div><br>'

    }


    function load() {

      var position = document.getElementById("postjob").value;  
      var experience = document.getElementById("exp").value;  
      var skill = document.getElementById("skill").value;  
      
      if(position == "0") {
        position = "";
      }


      $.getJSON(url+"/load_data?position="+position+"&experience="+experience+"&skill="+skill,

            function(data,textStatus,jqXHR) {
              
              document.getElementById("cand_data").innerHTML = "";

              for(var row_no in data["data"]) {
        
                var avg_rating = data["data"][row_no][0];
                var experience = data["data"][row_no][1];
                var resume = data["data"][row_no][2];
                var username = data["data"][row_no][3];
                var emailid = data["data"][row_no][4];

                document.getElementById("cand_data").innerHTML += get_html(avg_rating, experience, resume, username, emailid);
              }
              

            }
        
        );
    }

    load();

  </script>

</body>

</html>